/*--------------------------------------------------
[Quick Find Stylesheet]

Author(s):	 SUA Web Team

[Table of contents]
1. Layout
2. Floor selector
--------------------------------------------------*/

/* ----- [1. Layout] ----- */

div {
  &#quick-find-floor-map {
    position: relative;
  }
  &#diagram-title {
    left: 370px;
    position: absolute;
    top: 560px;
  }
  &#diagram-tools {
    left: 5px;
    position: absolute;
    top: 119px;
  }
  &#quick-find-floor-map ul#floor-selector {
    bottom: -60px;
    left: 45px;
    position: absolute;
  }
}

/* ----- [2. Floor selector] ----- */
